@wexinc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN}

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_AUTH_TOKEN}

@yeti:registry=https://pkgs.dev.azure.com/wexcp/EnCompass/_packaging/yeti-ui-libraries/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/wexcp/EnCompass/_packaging/yeti-ui-libraries/npm/registry/:username=${ADO_NPM_ARTIFACTS_USERNAME}
//pkgs.dev.azure.com/wexcp/EnCompass/_packaging/yeti-ui-libraries/npm/registry/:_password=${ADO_NPM_ARTIFACTS_PASSWORD}
//pkgs.dev.azure.com/wexcp/EnCompass/_packaging/yeti-ui-libraries/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/wexcp/EnCompass/_packaging/yeti-ui-libraries/npm/:username=${ADO_NPM_ARTIFACTS_USERNAME}
//pkgs.dev.azure.com/wexcp/EnCompass/_packaging/yeti-ui-libraries/npm/:_password=${ADO_NPM_ARTIFACTS_PASSWORD}
//pkgs.dev.azure.com/wexcp/EnCompass/_packaging/yeti-ui-libraries/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
